.content {
    padding-top: 100px;
}

.table {
    border: 1px salmon solid;
    padding: 5px;
    width: 300px;
    margin: 0 auto;
}
.title-login {
    text-align: center;
}
.btn-submit {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: blue;
    color: white;
    padding: 10px;
    border-radius: 20px;
}
